h1 {
  font-weight: bold;
  text-align: center;
}

label {
  text-align: right;
  display: inline-block;
  margin-left: 40%;
}

button {
  text-align: center;
  vertical-align: middle;
  margin-left: 40%;
}
