<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post">

<!--    <label for="time">Available</label>-->
<!--    <input type="time" name="available">-->
<!--    <br>-->
    <label for="time">Available From</label>
    <input type="time" name="available_from">
    <br>

    <label for="time">Available To</label>
    <input type="time" name="available_to">
    <br>

    <input type="submit">

</form>
</body>
</html>