<div class="container" id="container">
	<div class="form-container sign-up-container">
    <script src="/static/js/login.js"></script>
    <link rel="stylesheet" href="/static/css/login.css">
		<form action="#">
			<img src="crulogo.png" width="500" height="600">
<!--			<h1>Create Account</h1>-->
<!--			<div class="social-container">-->
<!--				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--			</div>-->
<!--			<span>or use your email for registration</span>-->
<!--			<input type="text" placeholder="Name" />-->
<!--			<input type="email" placeholder="Email" />-->
<!--			<input type="password" placeholder="Password" />-->
<!--			<button>Sign Up</button>-->
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#" method="post">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
			</div>
			<span>or use your account</span>
			<input type="text" placeholder="username" name="username" />
			<input type="text" placeholder="password" name="password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Welcome to Connect-R-Us!</h1>
				<p>Schedule Meetings, Create Tasks, Make Groups, and more! Join us today</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Created by <i class="fa fa-heart"></i>
		<a target="_blank" href="https://github.com/Bugs-Squashers/ConnectRUs">Bugs-Squashers</a>
		- CS 4800-Software Engineering Project
	</p>
</footer>
