<img src="/static/images/crulogo.png" alt="Connect-R-Us Logo" class="logo" height="125px">
<script type="text/javascript" src="/static/js/login.js"></script>
<link rel="stylesheet" href="/static/css/login.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<title>Sign In</title>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home </a>
      <a class="nav-item nav-link active" href="/login">Sign In/Sign Up<span class="sr-only">(current)</span></a>
      <!--no working link for create yet, ignore for now-->
      <a class="nav-item nav-link" href="../create/create.html">Create</a>
      <!--no working link for calendar yet, ignore for now-->
	   <a class="nav-item nav-link" href="../calendar/calendar.html">Timeline</a>

      <!-- added these 3 to what Sandra had-->
      <a class="nav-item nav-link" href="/event">Create Event</a>
      <a class="nav-item nav-link" href="/available">Enter Availability</a>
      <a class="nav-item nav-link" href="/lookup">Group's Availability</a>

      <!--no working link for task yet, ignore for now-->
	   <a class="nav-item nav-link" href="../task/task.html">Task</a>
      <!--no working link for team yet, ignore for now-->
	   <a class="nav-item nav-link" href="../team/team.html">Team</a>

      <!--added this too-->
      <a class="nav-item nav-link" href="/logout">Signout</a>

    </div>
  </div>
</nav>
<br>
<!--Signup, need to make button go to signup page-->
<div class="container" id="container">
	<div class="form-container sign-up-container">
    <form action="#">
			<h1>Create Account</h1>
			<span>Use your email for registration</span>
			<input type="text" placeholder="Username" name="username"/>
			<input type="email" placeholder="Password" name="password"/>
			<button>Sign Up</button>
		</form>
	</div>

   <!-- Signin aka Login-->
	<div class="form-container sign-in-container">
		<form form action="#" method="post">
			<h1>Sign in</h1>
			<br>
			<span>to access your account</span>
			<input type="text" placeholder="username" name="username" />
			<input type="text" placeholder="password" name="password" />
			<a href="#">Forgot your password?</a>
         <!--not sure if the href to home page is needed here-->
			<a href="/">
				<button>Sign In</button>
			</a>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Welcome to Connect-R-Us!</h1>
        HEAD
				<p>Schedule Meetings, Create Tasks, Make Groups, and more! Join us today!</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<br><br>
<footer>
	<p>
		Created by <i class="fa fa-heart"></i>
		<a target="_blank" href="https://github.com/Bugs-Squashers/ConnectRUs">Bugs-Squashers</a>
		- CS 4800-Software Engineering Project
	</p>
</footer>
